.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
}

.window {
  width: 200px;
  height: 350px;
  margin: 200px auto 50px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  border: solid white;
}

.window img {
  border-radius: 10px;
  margin: 10px auto;
  width: 92%;
}

.window p {
  font-family: Outfit, sans-serif;
}

.window p#first {
  margin: 13px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.window p#second {
  margin: 10px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 12px;
}
